{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
<div class="jumbotron">
<h1>Profile here</h1>
<label for="name" class="mb-2 mr-sm-2">Exam:</label><br>
<input type="text" name="name" placeholder="Exam"><br>
<label for="name" class="mb-2 mr-sm-2">School/College:</label><br>
<input type="text" name="name" placeholder="School/College"><br>
<label for="name" class="mb-2 mr-sm-2">Board/University:</label><br>
<input type="text" name="name" placeholder="Board/University"><br>
<label for="number" class="mb-2 mr-sm-2">Percentage/CGPA:</label><br>
<input type="number" name="name" placeholder="Percentage/CGPA"><br>
<div1 class="container"><br>
<a class="btn btn-primary" href="/dappx/project">Next</a>
</div>
</div>
</div>
{% endblock %}