{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
    <div class="jumbotron">
        <h1>Education here</h1>
        <form  method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        {% for q in qs %}
        <h6>{{ q.resume }}</h6>
        <h6>exam: {{ q.exam }}</h6>
        <h6>school: {{ q.school }}</h6>
        <h6>Degree: {{ q.degree }}</h6>
        <h6>cpga: {{ q.cgpa }}</h6><br>
        {% endfor %}
        <div class="container"><br>
            <a class="btn btn-primary" href="/dappx/project">Next</a>
        </div>
    </div>
</div>

{% endblock %}
