{% extends "dappx/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Resume</h1>
        <h3>Profile</h3>
        {% for profile in profiles %}
        <h6><b>Name:</b> {{ profile.name }}</h6>
        <h6><b>Phone Number:</b> {{ profile.phone_number }}</h6>
        <h6><b>Email ID:</b> {{ profile.email }}</h6>
        {% endfor %}
        <h3>Career Objective</h3>
        {% for career in careers %}
        <h6>{{ career.career }}</h6>
        {% endfor %}
        <h3>Education Qualifications</h3>
        {% for education in educations %}
        <h6><b>Exam:</b> {{ education.exam }}</h6>
        <h6><b>School:</b> {{ education.school }}</h6>
        <h6><b>Degree:</b> {{ education.degree }}</h6>
        <h6><b>CGPA:</b> {{ education.cgpa }}</h6>
        {% endfor %}
        <h3>Project</h3>
        {% for project in projects %}
        <h6><b>Project Name:</b> {{ project.project_name }}</h6>
        <h6><b>Description:</b> {{ project.description }}</h6>
        <h6><b>Role: </b>{{ project.role }}</h6>
        <h6><b>Platform/Technology:</b> {{ project.platform }}</h6>
        {% endfor %}
        <h3>Additional Courses</h3>
        {% for additional in additionals %}
        <h6><b>Course Name:</b> {{ additional.course_name }}</h6>
        {% endfor %}
        <h3>Internship</h3>
        {% for internship in internships %}
        <h6><b>Company Name:</b>{{ internship.company_name }}</h6>
        <h6><b>Project Name:</b> {{ internship.project_name }}</h6>
        <h6><b>Start Date: </b>{{ internship.start_date }}</h6>
        <h6><b>End Date:</b> {{ internship.end_date }}</h6>
        {% endfor %}
        <h3>Achievements</h3>
        {% for achievement in achievements %}
        <h6><b>Achievements:</b> {{ achievement.achievement }}</h6>
        {% endfor %}
        <h3>Hobbies</h3>
        {% for hobbies in hobbies %}
        <h6><b>Hobbies:</b> {{ hobbies.hobbies }}</h6>
        {% endfor %}
    </div>
</div>

{% endblock %}
